* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.container__wide {
  max-width: 1600px;
  margin: 0 auto;
}

.header {
  background-color: #222222;
  max-height: 75px;
}

.top__bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top__left {
  width: 111px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__right {
  width: 168px;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top__list {
  padding: 20px;
}

.top__info {
  height: 764px;
  background: #F1E4E6;
}

.top__info__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 63px;
  padding-top: 290px;
}

.brand__element {
  background: #F16D7F;
  width: 12px;
  height: 92px;
}

.top__header {
  padding-left: 16px;
}

.top__header__brand {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  text-transform: uppercase;
}

.top__subheader__brand {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  text-transform: uppercase;
}

.pink__elements {
  color: #F16D7F;
}

.menu {
  margin-top: 65px;
}

.menu__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu__card__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__card__link {
  display: block;
  text-decoration: none;
  width: 360px;
}

.menu__photo {
  position: absolute;
}

.menu__text {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 105px;
  padding-bottom: 105px;
}

.menu__span {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}

.menu__card__accesories {
  margin-top: 30px;
  margin-bottom: 96px;
}

.accesories {
  width: 1140px;
}

.menu__photo__accesories {
  position: absolute;
}

.menu__text__accesories {
  position: relative;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  padding-top: 65px;
  padding-bottom: 65px;
}

.featured__items__heading {
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  color: #222222;
}

.featured__items__paragraph {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  text-align: center;
  margin-top: 6px;
}

.item__card__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 48px;
  padding-bottom: 48px;
}

.item__card {
  width: 360px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.item__card__link {
  display: block;
  width: 360px;
  text-decoration: none;
}

.item__card__photo {
  vertical-align: bottom;
}

.item__card__block {
  background: #F8F8F8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 25px 26px 20px 16px;
  margin-bottom: 30px;
}

.item__card__subheading {
  font-weight: normal;
  font-family: Lato;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding-bottom: 13px;
}

.item__card__text {
  font-style: normal;
  font-family: Lato;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  padding-bottom: 18px;
}

.item__card__price {
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
}

.item__card:hover .item__card__photo {
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.add__box {
  display: none;
  position: absolute;
  top: 188px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #FFFFFF;
  padding: 10px;
  border: 1px solid white;
}

.add__cart {
  margin-right: 11px;
}

.add:hover {
  -webkit-box-shadow: 0 0 10px white;
          box-shadow: 0 0 10px white;
}

.item__card:hover .add__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  text-align: center;
  margin-bottom: 95px;
}

.featured__items__button {
  text-decoration: none;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  padding: 15px 39px;
  border: 1px solid #FF6A6A;
}

.featured__items__button:hover {
  background-color: #FF6A6A;
  color: #FFFFFF;
}

.advantages {
  height: 341px;
  background: #222224;
}

.advantages__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 103px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.advantages__item {
  width: 320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.advantages__photo {
  height: 37px;
  margin-bottom: 28px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.advantages__subheading {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 19.96px;
  line-height: 24px;
  color: #FBFBFB;
  margin-bottom: 16px;
  text-align: center;
}

.advantages__paragraph {
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer__top {
  height: 448px;
  background-image: url(photo/background-subscribe.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.footer__top__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.citation {
  padding-top: 97px;
  width: 359px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.citation__photo {
  width: 96px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 30px;
}

.citation__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
}

.italic {
  font-style: italic;
}

.subscribe__box {
  padding-top: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe__subheading {
  font-family: Lato;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}

.subscribe__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.subscribe__input__box {
  padding-top: 31px;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.entry__field {
  height: 49px;
  width: 230px;
  background: #E1E1E1;
  border: none;
  outline: none;
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-left: 22px;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  opacity: 0.67;
  display: block;
}

.subscribe__button {
  height: 49px;
  padding: 15px;
  background: #F16D7F;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  border: none;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  display: block;
}

.subscribe__button:hover {
  background: #E05C6E;
  cursor: pointer;
}

.footer__bottom {
  height: 79px;
  background: #222224;
}

.footer__bottom__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__bottom__left {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
  padding-top: 30px;
}

.social__media__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
}

.fa-facebook-f {
  font-size: 22px;
  padding: 8px 12px;
  color: black;
  background-color: white;
}

.fa-instagram {
  font-size: 22px;
  padding: 8px;
  color: black;
  background-color: white;
  margin-left: 7px;
}

.fa-pinterest-p {
  font-size: 22px;
  padding: 8px 10px;
  color: black;
  background-color: white;
  margin-left: 7px;
}

.fa-twitter {
  font-size: 21px;
  padding: 8px 8px;
  color: black;
  background-color: white;
  margin-left: 7px;
}

.fa-facebook-f:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.fa-instagram:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.fa-pinterest-p:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}

.fa-twitter:hover {
  color: #FFFFFF;
  background-color: #F16D7F;
}
/*# sourceMappingURL=style.css.map */